<!-- Form post_tag start -->
<%= form_with(model: @post_tag, local: true) do |f| %>
<!-- Form post_tag end -->

  <!-- Label and input for post_id start -->
  <div class="form-group">
    <%= f.label :post_id %>

    <!-- Input for post_id start -->
    <%= f.collection_select :post_id, Post.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for post_id end -->
  </div>
  <!-- Label and input for post_id end -->

  <!-- Label and input for tag_id start -->
  <!-- Input for tag_id start -->
  <%= f.hidden_field :tag_id, value: @tag.id %>
  <!-- Input for tag_id end -->
  <!-- Label and input for tag_id end -->

  <%= f.submit "Create post tag", class: "btn btn-block btn-outline-secondary" %>
<% end %>
