<%= form_with(model: @post_tag, local: true) do |f| %>

  <%= f.hidden_field :post_id, value: @post.id %>

  <div class="form-group">
    <%= f.label :tag_id %>

    <%= f.collection_select :tag_id, Tag.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create post tag", class: "btn btn-block btn-outline-secondary" %>
<% end %>
